__pycache__/

# Pytest specific
.benchmarks/
.pytest_cache/

# UV specific
.venv/
dist/
uv.lock
.python-version

# JetBrains specific
.idea/

# PDDLSIM specific
tmp_problem_generation
multiple_goal_temp.pddl

# Ruff specific
ruff.toml

# Mypy specific
.mypy_cache/
