# Add any directories, files, or patterns you don't want to be tracked by version control
__pycache__
# **/__pycache__
**.pyc
tmp
test_env
build
execution.details
tmp_delayed_dispatch
tmp_reduced.pddl
tmp.ipc
multiple_goal_temp.pddl
tmp_problem_generation
